<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_16._11._2022_disconnected_mimarisi.Properties.Settings.kuzeyyeliConnectionString"
            connectionString="Data Source=DESKTOP-5U7CRQV;Initial Catalog=kuzeyyeli;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_16._11._2022_disconnected_mimarisi.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-5U7CRQV;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>